<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head')%>
    <link rel="stylesheet" href="/styles/cafe.css" />
    <title>Cafe</title>
  </head>
  <body>
    <%-include('includes/header')%>
    <main>
      <%- include('includes/banner', {banner:"Cafe"})%>

      <div id="container">
        <%-include('includes/cafe-left-container')%>
        <%-include('includes/cafe-right-container', {post_title: 'ì˜¤ëŠ˜ì˜ ë£©'})%>
      </div>
    </main>
    <%-include('includes/footer')%>
  </body>
</html>
