<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head')%>
    <link rel="stylesheet" href="/styles/cafe.css" />
    <title>Cafe</title>
  </head>
  <body>
    <%-include('includes/header')%>
    <main>
      <div id="banner">
        <a href="/cafe"><h2>Cafe</h2></a>
      </div>

      <div id="container">
        <div id="left-container">
          <a href="/my-page" id="nickname"><%= user.nickname%></a>
          <p id="date"><%= user.date%> 가입</p>
          <a id="upload-post-btn" href="/upload-post">카페 글쓰기</a>

          <p id="posts">👖게시판👖</p>

          <p id="fashion">fashion</p>
          <a href="/cafe-shoes" class="post-items">↘️ 오뭐신</a>
          <a href="/cafe-look" class="post-items">↘️ 오늘의룩</a>
          <a href="/cafe-select" class="post-items">↘️ 골라줘</a>
          <a href="/cafe-drop" class="post-items">↘️ 발매정보</a>
          <a href="/cafe-sale" class="post-items">↘️ 세일 정보</a>

          <p id="lifestyle">lifestyle</p>
          <a href="/cafe-free" class="post-items">↘️ 자유</a>
          <a href="/cafe-eat" class="post-items">↘️ 밥밥</a>
          <a href="/cafe-humor" class="post-items">↘️ 유머</a>
          <a href="/cafe-life" class="post-items">↘️ 일상</a>
          <a href="/cafe-exercise" class="post-items">↘️ 운동</a>
        </div>

        <div id="right-container">
          <p id="posts">자유</p>

          <div id="post-container">
            <% for (const post of posts) { %>
            <div class="post-card">
              <a href="/cafe/<%= post._id%>">
                <% if (post.previewImage) { %>
                <img
                  src="<%= post.previewImage %>"
                  alt="미리보기 이미지"
                  class="post-thumbnail"
                />
                <% } else { %>
                <img
                  src="/images/default-post.png"
                  alt="기본 이미지"
                  class="post-thumbnail"
                />
                <% } %>
              </a>
              <div class="content-container">
                <div class="title-container">
                  <a href="/cafe/<%= post._id%>" class="post-title"
                    ><%= post.title %></a
                  >
                  <span class="comment">[<%= post.commentCount %>]</span>
                  <% if (post.isNew) { %>
                  <span class="new-badge">N</span>
                  <% } %>
                </div>
                <a href="" class="post-author"><%= post.author %></a>
                <p class="post-date"><%= post.date %></p>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </main>
    <%-include('includes/footer')%>
  </body>
</html>
