<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="/styles/post-detail.css" />
    <script src="/scripts/cafe.js" defer></script>
    <title>Post Detail</title>
  </head>
  <body>
    <%- include('includes/header')%>
    <main>
      <%- include('includes/banner', { banner:"Cafe" })%>

      <div id="container">
        <%- include('includes/cafe-left-container')%>

        <div id="right-container">
          <div id="post-info">
            <a href="free-cafe" id="post-kind"><%= post.post_kind%></a>
            <p id="title"><%= post.title %></p>
            <div id="post-profile">
              <% if (profile) { %>
                <a href="/user/<%= post.author %>">
                  <img src="<%= profile %>" alt="작성자 프로필" class="author-profile-img" />
                </a>
              <% } else { %>
                <a href="/user/<%= post.author %>">
                  <img src="/images/profile/default_profile.png" alt="기본 프로필" class="author-profile-img" />
                </a>
              <% } %>
              <a href="/user/<%= post.author %>" id="user-nickname"><%= post.author %></a>
            </div>
            
            <div id="detail-container">
              <p id="post-date"><%= post.date %></p>
              <% if(post.author === user.nickname ) { %>
                <div class="authority-container">
                  <a href="/cafe/<%= post._id%>/edit" class="authority">수정</a>
                  <form action="/cafe/<%= post._id %>/delete" method="POST" onsubmit="return confirmDelete();">
                    <button type="submit" id="delete-btn" class="authority">삭제</button>
                  </form>
                </div>
              <% } %>
            </div>
          </div>

          <div id="content-container">
            <p id="content"><%= post.content%></p>
            <div id="img-container">
              <% if (post.images && post.images.length > 0) { %> 
                <% post.images.forEach(function(imagePath) { %>
                    <img
                        src="<%= imagePath %>"
                        alt="게시물 이미지"
                        class="post-image"
                    />
                <% }) %> 
              <% } %>
            </div>
            <a id="see-more" href=""
              ><span><%=post.author%></span>님의 게시글 더보기 ></a
            >

            <div id="heart-container" data-post-id="<%= post._id %>" data-liked="<%= post.likedUsers && post.likedUsers.includes(user.nickname) %>">
              <button id="heart-button">
                <img src="<%= post.likedUsers && post.likedUsers.includes(user.nickname) ? '/images/heart/heart_red.png' : '/images/heart/heart_empty.png' %>"
                  id="heart"
                  alt="heart-img">
                  <!-- <span id="heart-text">좋아요</span> -->
              </button>
              <span id="like-count"><%= post.likes || 0 %></span>
            </div>
          </div>

          <div id="comment-container">
            <ul id="comment-list">
                <% for(const comment of comments) { %>
                    <li class="comment-item">
                      <div class="comment-profile">
                        <a href="/user/<%= comment.author %>">
                          <img src="<%= comment.profileImg %>" alt="작성자 프로필" class="comment-author-img" />
                        </a>
                        <a href="/user/<%= comment.author %>">
                          <p class="user-info"><%= comment.author %></p>
                        </a>
                      </div>
                        <p class="comment"><%= comment.comment %></p>
                        <p class="date"><%= comment.date %></p>
                      </li>
                <% } %>
              </ul>

              <form action="/cafe/<%= post._id%>/comment" method="POST" id="form-comment" data-post-id="<%= post._id %>" >
                <div id="comment-input-container">
                    <p for="comment"><%= user.nickname %></p>
                    <input type="text" id="comment" name="comment" placeholder="댓글을 남겨보세요."></input>
                    <button>등록</button>
                </div>
            </form>            
          </div>
        </div>
      </div>
    </main>
    <%- include('includes/footer')%>
  </body>
</html>
