<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head') %>
    <link rel="stylesheet" href="/styles/sign-up.css" />
  </head>
  <body>
    <%-include('includes/header') %>
    <main>
      <%- include('includes/banner', {banner:"회원가입"})%>

      <div id="form-container">
        <div id="yellow-line">
          <form action="sign-up" method="POST">
            <div class="form-item">
              <label for="email"></label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="이메일(아이디)"
              />
              <p class="caution"><%= error.emailMessage%></p>
            </div>

            <div class="form-item">
              <label for="password"></label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="비밀번호"
              />
              <p id="caution">
                (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자)
              </p>
              <p class="caution"><%= error.passwordMessage %></p>
            </div>

            <div class="form-item">
              <label for="confirmpassword"></label>
              <input
                type="password"
                name="confirmpassword"
                id="confirmpassword"
                placeholder="비밀번호 재확인"
              />
              <p class="caution"><%= error.confirmpasswordMessage %></p>
            </div>

            <div class="form-item">
              <label for="name"></label>
              <input type="text" name="name" placeholder="이름" />
              <p class="caution"><%= error.nameMessage %></p>
            </div>

            <div class="form-item">
              <label for="nickname"></label>
              <input
                type="text"
                name="nickname"
                id="nickname"
                placeholder="닉네임"
              />
              <p class="caution"><%= error.nicknameMessage %></p>
            </div>

            <div id="btn-container">
              <a href="/index" id="cancelbutton">취소</a>
              <button>회원가입</button>
            </div>

            <div id="other-page">
              <a href="/login">로그인</a>
              <span> | </span>
              <a href="">비밀번호 찾기</a>
              <span> | </span>
              <a href="">아이디 찾기</a>
            </div>
          </form>
        </div>
      </div>
    </main>

    <%-include('includes/footer') %>
  </body>
</html>
