<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('includes/head') %>
    <link rel="stylesheet" href="/styles/sign-up.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/scripts/map.js" defer></script>
  </head>
  <body>
    <%-include('includes/header') %>
    <main>
      <%- include('includes/banner', {banner:"회원가입"})%>

      <div id="form-container">
        <div id="yellow-line">
          <form action="sign-up" method="POST">
            <div class="form-item">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="이메일(아이디)"
                class="signup-input"
              />
              <p class="caution"><%= error.emailMessage%></p>
            </div>

            <div class="form-item">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="비밀번호"
                class="signup-input"
              />
              <p id="caution">
                (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자)
              </p>
              <p class="caution"><%= error.passwordMessage %></p>
            </div>

            <div class="form-item">
              <input
                type="password"
                name="confirmpassword"
                id="confirmpassword"
                placeholder="비밀번호 재확인"
                class="signup-input"
              />
              <p class="caution"><%= error.confirmpasswordMessage %></p>
            </div>

            <div class="form-item">
              <input
                type="text"
                name="name"
                placeholder="이름"
                class="signup-input"
              />
              <p class="caution"><%= error.nameMessage %></p>
            </div>

            <div class="form-item">
              <input
                type="text"
                name="nickname"
                id="nickname"
                placeholder="닉네임"
                class="signup-input"
              />
              <p class="caution"><%= error.nicknameMessage %></p>
            </div>

            <div id="zip-code">
              <input type="text" id="sample4_postcode" name="postcode" placeholder="우편번호" />
              <input
                type="button"
                onclick="sample4_execDaumPostcode()"
                value="우편번호 찾기"
                id="zip-button"
              />
            </div>

            <div class="form-item">
              <input
                type="text"
                id="sample4_roadAddress"
                name="roadAddress"
                placeholder="도로명주소"
                class="signup-input"
              />
            </div>

            <div class="form-item">
              <input
                type="text"
                id="sample4_jibunAddress"
                name="jibunAddress"
                placeholder="지번주소"
                class="signup-input"
              />
              <span id="guide" style="color: #999; display: none"></span>
            </div>

            <div class="form-item">
              <input
                type="text"
                id="sample4_detailAddress"
                name="detailAddress"
                placeholder="상세주소"
                class="signup-input"
              />
            </div>

            <div class="form-item">
              <input
                type="text"
                id="sample4_extraAddress"
                name="extraAddress"
                placeholder="참고항목"
                class="signup-input"
              />
            </div>

            <div id="btn-container">
              <a href="/index" id="cancelbutton">취소</a>
              <button>회원가입</button>
            </div>
            <div id="other-page">
              <a href="/login">로그인</a>
              <span> | </span>
              <a href="">비밀번호 찾기</a>
              <span> | </span>
              <a href="">아이디 찾기</a>
            </div>
          </form>
        </div>
      </div>
    </main>

    <%-include('includes/footer') %>
  </body>
</html>
