<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
    <link rel="stylesheet" href="/styles/my-page.css" />
    <title>마이페이지</title>
  </head>
  <body>
    <%- include('includes/header')%>
    <main>
      <%- include('includes/banner', {banner:"Cafe"})%>

      <div id="container">
        <%-include('includes/cafe-left-container')%>

        <div id="right-container">
          <div id="user-info-container">
            <div id="profile-img-container">
              <% if (user.profileImg) { %>
              <img
                id="profile-preview"
                src="<%= user.profileImg %>"
                alt="profile-img"
              />
              <% } else { %>
              <img
                id="profile-preview"
                src="/images/profile/default_profile.png"
                alt="profile-img"
              />
              <% } %>
            </div>
            <div id="user-info">
              <p id="user-nickname"><%= user.nickname%></p>
              <p id="user-date"><%= user.date%> 가입</p>
              <p id="user-visited">카페 방문 수 <%= user.visited%>회</p>
            </div>
          </div>

          <div id="post-container">
            <div id="category-container">
              <p>작성글</p>
              <p>작성 댓글</p>
              <p>좋아요한 글</p>
            </div>

            <div id="posts">
              <div id="title">
                <p id="post-title">제목</p>
                <p id="post-date">날짜</p>
                <p id="post-views">조회수</p>
              </div>

              <div>
                <% for(post of posts) { %>
                <div class="post-item">
                  <a class="post-title" href="/cafe/<%= post._id%>"
                    >📝 <%= post.title%></a
                  >
                  <p class="post-date"><%= post.date%></p>
                  <p class="post-views"><%= post.views || 0%></p>
                </div>
                <% } %>
              </div>

              <div class="pagination">
                <% for (let i = 1; i <= totalPages; i++) { %> <% if (i ===
                currentPage) { %>
                <span class="page-number active"><%= i %></span>
                <% } else { %>
                <a href="?page=<%= i %>" class="page-number"><%= i %></a>
                <% } %> <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('includes/footer')%>
  </body>
</html>
